.intro-lead-in-text {
  background-color: var(--bs-emphasis-color);
}

svg {
  text-align: center;
}

.tech-para {
  margin-top: 25px;
  text-align: left;
}

.allparagraphs{
  text-align: left;

}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent any horizontal scroll */
}

.properembed {
  aspect-ratio: 16 / 9; /* Adjust the ratio as needed (e.g., 4:3, 1:1) */
  width: 100%; /* Or any desired width */
}